* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

p, h3 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
body.no-scroll {
  height: 100%;
  overflow: hidden;
}
body .inner-body.hide {
  display: none;
}
body .qr-code {
  display: none;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}
body .qr-code .bg-container {
  background: url(/images/tonny.png);
  background-repeat: repeat-x;
  width: 100%;
  min-height: 18vh;
}
body .qr-code .bg-container-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/images/tonny.png);
  background-repeat: repeat-x;
  width: 100%;
  min-height: 9vh;
}
body .qr-code.show {
  display: block;
}
body .qr-code.show .container {
  z-index: 20;
  max-width: 600px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  text-align: center;
  gap: 4em;
  font-weight: 500;
}
body .qr-code.show .container .text-container {
  opacity: 90%;
}
body .qr-code.show .container a {
  text-decoration: none;
}
body .qr-code.show .container .qr-container {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22em;
  height: 22em;
}
.divider {
  height: 1px;
  background-color: black;
  opacity: 40%;
  margin-left: 8px;
  margin-right: 40px;
  -webkit-box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.76);
}

.main-content-page {
  display: flex;
  justify-content: center;
}
.main-content-page.hide {
  display: none;
}
.main-content-page.blur {
  filter: blur(5px);
}

.main-content-page .menu-navigation-bg-abs {
  z-index: 10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  margin: 0 8px;
  margin-bottom: 0;
  padding: 0.4em 0.8em;
  -webkit-box-shadow: 0 1px 2px #ccc;
  display: none;
}
.main-content-page .menu-navigation-bg-abs.display {
  display: block;
}
.main-content-page .menu-navigation-bg-abs .top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content-page .menu-navigation-bg-abs .top-container .hint {
  padding: 0 0.2em;
  color: black;
  opacity: 50%;
  font-weight: 500;
  font-size: 0.785rem;
}
.main-content-page .menu-navigation-bg-abs .top-container .select-all {
  font-size: 0.75rem;
  padding: 0 0.2em;
  font-weight: 600;
  opacity: 70%;
}
.main-content-page .menu-navigation-bg-abs .menu-navigation-container {
  background-color: #e3edf7;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 0 -6px;
  overflow: clip;
  margin-top: 0.2em;
}
.main-content-page .menu-navigation-bg-abs .menu-navigation-container .navigation-list {
  margin: 0;
  margin-left: -4px;
  padding: 0 4px;
}
.main-content-page .menu-navigation-bg-abs .menu-navigation-container .navigation-list .select-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0 4px;
  z-index: 1;
}
.main-content-page .menu-navigation-bg-abs .menu-navigation-container .navigation-list .select-cat .cat-item {
  background-color: #e3edf7;
  padding: 0px 12px;
  margin: 6px 0;
  color: black;
  opacity: 70%;
  font-weight: 500;
  border-radius: 20px;
}
.main-content-page .menu-navigation-bg-abs .menu-navigation-container .navigation-list .select-cat .cat-item.selected {
  opacity: 100%;
  border-radius: 20px;
  color: white;
  background-color: slategrey;
  overflow: hidden;
}
.main-content-page.stop-scroll {
  height: 100vh;
  overflow: hidden;
}
.main-content-page.stop-scroll .top-cover {
  opacity: 0;
}
.main-content-page .inner-content {
  flex-grow: 1;
  max-width: 960px;
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.brand-container.hide {
  display: none;
}
.brand-container .top-cover {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.brand-container .top-cover .cover-container {
  margin: 0 4px;
  flex-grow: 1;
  position: relative;
}
.brand-container .top-cover .cover-container .cover-image-container {
  position: relative;
}
.brand-container .top-cover .cover-container .cover-image-container .cover-image {
  border: 1px solid whitesmoke;
  border-radius: 20px 20px;
  width: 100%;
  min-height: 32vh;
  max-height: 35vh;
  object-fit: cover;
  -webkit-box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.56);
}
.brand-container .top-cover .cover-container .cover-image-container .info-container {
  position: absolute;
  right: 0.8em;
  top: 0.2em;
  color: lightgray;
  font-size: 1.6em;
  padding: 0.2em;
}
.brand-container .top-cover .cover-container .cover-image-container .info-container:hover {
  cursor: pointer;
}
.brand-container .top-cover .cover-container .brand-image-container {
  position: absolute;
  bottom: -45px;
  right: 25px;
  z-index: 10;
}
.brand-container .top-cover .cover-container .brand-image-container .brand-image {
  border: 1px solid whitesmoke;
  border-radius: 20px 20px;
  width: 100%;
  min-height: 7em;
  max-height: 7em;
  min-width: 7em;
  max-width: 7em;
  object-fit: cover;
  -webkit-box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.56);
  /*                    animation: 12s infinite glow linear;
  */
}
.brand-container .brand-info-container {
  margin-left: 1em;
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 2.2em;
  /*        margin-bottom: 1.6em;
  */
}
.brand-container .brand-info-container .social-container {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: -2px;
  position: relative;
  gap: 2px;
  margin-bottom: 0.4em;
}
.brand-container .brand-info-container .social-container .social-icon {
  max-width: 31px;
  max-height: 31px;
}
.brand-container .brand-info-container .brand-name {
  min-height: 30px;
  max-width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
}
.brand-container .brand-info-container .promo-text {
  opacity: 60%;
  font-size: 0.975rem;
}
.brand-container .brand-info-container .promo-text p {
  padding: 0;
  margin: 0;
}

.content-container {
  background-color: white;
  margin-top: -40px;
  border: 1px solid #FFFAFA;
  border-radius: 20px 20px;
  border-top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.56);
  padding: 0.8em;
  /*    padding-top: 45px;
  */
  max-width: 100vw;
}
.content-container .search-results {
  display: none;
}
.content-container.min95vh {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}
.content-container.min95vh .search-results {
  padding: 0 1em;
  padding-top: 3em;
  height: 100%;
  width: 100%;
}
.content-container.min95vh .search-results.show {
  display: block;
}
.content-container.min95vh .search-results h3 {
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 70%;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: end;
}
.content-container.min95vh .search-results .products {
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
}
.content-container.min95vh .search-results .products .trending-product-name {
  font-weight: 500;
  font-size: 0.975rem;
  opacity: 80%;
}
.content-container .menu-navigation-bg {
  margin-bottom: 1.4em;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 3.5em;
}
.content-container .menu-navigation-bg.sticky {
  background-color: white;
  margin: 0 -0.8em;
  margin-bottom: 0;
  padding: 0.5em 0.7em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.content-container .menu-navigation-bg .search-icon.hide {
  display: none;
}
.content-container .menu-navigation-bg .close-icon {
  color: rgb(101, 119, 137);
  display: none;
  font-size: 1.3em;
  margin-left: 3px;
}
.content-container .menu-navigation-bg .close-icon.show {
  display: block;
}
.content-container .menu-navigation-bg .search-container {
  padding: 0.2em;
}
.content-container .menu-navigation-bg .search-placeholder {
  width: 0px;
  display: none;
}
.content-container .menu-navigation-bg .search-placeholder.expand {
  display: block;
  background-color: #e3edf7;
  border-radius: 20px;
  margin: 0 -6px;
  overflow: clip;
  z-index: 40;
  width: 92%;
}
.content-container .menu-navigation-bg .search-placeholder.expand input {
  background-color: #e3edf7;
  padding: 6.8px 28px;
  padding-right: 38px;
  border-radius: 20px;
  border-color: transparent;
  display: block;
  font-weight: 500;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
.content-container .menu-navigation-bg .search-placeholder.expand input::placeholder {
  color: #6d7f8f;
}
.content-container .menu-navigation-bg .search-placeholder.expand input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}
.content-container .menu-navigation-bg .menu-navigation-container {
  background-color: #e3edf7;
  border-radius: 20px;
  margin: 0 -6px;
  overflow: clip;
  width: 92%;
}
.content-container .menu-navigation-bg .menu-navigation-container.hide {
  margin-left: 100vw;
  display: none;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list {
  margin: 0;
  padding: 0 10px;
  margin-left: -8px;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0 12px;
  z-index: 1;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list .nav-item .nav-link {
  padding: 4px 16px;
  margin: 6px 0;
  color: black;
  opacity: 60%;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 20px;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list .nav-item .nav-link.active {
  opacity: 100%;
  border-radius: 20px;
  color: white;
  background-color: slategrey;
  overflow: hidden;
}
.content-container .menu-container {
  padding: 1.4em 0.2em;
  min-height: 80vh;
}
.content-container .menu-container.hide {
  display: none;
}
.content-container .menu-container #no-results {
  padding: 1em;
  font-weight: 500;
  font-size: 0.975rem;
  opacity: 70%;
}
.content-container .menu-container .heading-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0.4em;
  border-bottom: 1px solid lightgray;
  margin: 16px 0px;
  margin-bottom: 0;
}
.content-container .menu-container .heading-icon-container .heading-icon {
  margin-top: -0.6rem;
  width: 24px;
  height: 24px;
}
.content-container .menu-container .heading-icon-container .heading {
  font-size: 1.1rem;
}
.content-container .menu-container .sub-cat-name-container {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding: 12px 8px;
  padding-bottom: 0;
  background: rgb(240, 248, 255);
  background: -moz-linear-gradient(298deg, rgb(240, 248, 255) 0%, rgb(255, 255, 255) 89%);
  background: -webkit-linear-gradient(298deg, rgb(240, 248, 255) 0%, rgb(255, 255, 255) 89%);
  background: linear-gradient(298deg, rgb(240, 248, 255) 0%, rgb(255, 255, 255) 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f8ff",endColorstr="#ffffff",GradientType=1); /*            border-top: 1px solid lightgray;
*/
  border-top: 1px solid rgba(237, 231, 225, 0.75);
}
.content-container .menu-container .sub-cat-name-container .border-container {
  /*                border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;*/
  padding: 4px;
  padding-top: 0;
}
.content-container .menu-container .sub-cat-name-container .border-container h2 {
  font-size: 0.85rem;
  opacity: 80%;
  margin: 0;
  padding: 0;
}
.content-container .menu-container .sub-cat-name-container.no-border-top {
  border-top: 0;
}
.content-container .menu-container .sub-cat-empty {
  min-height: 33.31px;
}
.content-container .menu-container .product {
  padding: 0;
  border-bottom: 1px solid rgba(237, 231, 225, 0.75);
}
.content-container .menu-container .product .text-photo-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 12px 4px;
  padding-bottom: 8px;
  min-height: 0;
  min-width: 0;
  grid-column-gap: 8px;
  min-height: 125px;
}
.content-container .menu-container .product .text-photo-container .product-info {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 6px;
  gap: 0.3em;
}
.content-container .menu-container .product .text-photo-container .product-info.no-desc {
  justify-content: center;
  gap: 0.6em;
}
.content-container .menu-container .product .text-photo-container .product-info .product-text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: hidden;
  /*                display: grid;
  grid-template-rows: auto 60px 30px;*/
}
.content-container .menu-container .product .text-photo-container .product-info .product-text h3 {
  font-size: 0.975rem;
  grid-row: 1;
  opacity: 90%;
}
.content-container .menu-container .product .text-photo-container .product-info .product-text p:not(.final-price) {
  font-weight: 500;
  font-size: 0.875rem;
  color: black;
  opacity: 50%;
  grid-row: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.content-container .menu-container .product .text-photo-container .product-info .product-price {
  font-weight: 500;
  opacity: 90%;
}
.content-container .menu-container .product .text-photo-container .product-info .product-price .final-price {
  padding-bottom: 2px;
  color: black;
  margin: 0;
}
.content-container .menu-container .product .text-photo-container .product-info .product-price .final-price.has-discount {
  color: red;
}
.content-container .menu-container .product .text-photo-container .product-photo-container {
  width: 100%;
  height: 100%;
  max-height: 105px;
  min-width: 95px;
}
.content-container .menu-container .product .text-photo-container .product-photo-container .product-photo {
  border: 1px solid transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-container .menu-container .product .final-price {
  font-size: 1rem;
  position: relative;
}
.content-container .menu-container .product .final-price .original-price {
  font-size: 1rem;
  margin-left: 6px;
  background: linear-gradient(to bottom, transparent 55%, lightgray 55% 62%, transparent 62%);
  color: lightgray;
}
.content-container .menu-container .product:last-child {
  border-bottom: 0;
}
.content-container .menu-container .product .tags-container {
  display: flex;
  padding: 2px 4px;
  gap: 8px;
  margin-bottom: 12px;
  flex-wrap: wrap;
  justify-content: start;
}
.content-container .menu-container .product .tags-container .tag {
  padding: 3px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.735rem;
  background-color: #e3edf7;
  min-width: 40px;
  min-height: 20px;
  border-radius: 20px;
  font-weight: 500;
}
.content-container .menu-container .product .tags-container .tag img {
  /*                        max-height: 16px;
  max-width: 16px;*/
}
.content-container .menu-container .out-of-stock-items {
  padding: 1.2rem 0.4rem;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 0.935rem;
  color: #000;
  opacity: 70%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: start;
  align-items: center;
}
.content-container .menu-container .out-of-stock-items .num-not-available {
  opacity: 100%;
  color: black;
}
.content-container .menu-container .out-of-stock-items .dropdown-icon {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 1rem;
  margin-left: 0.2rem;
  margin-top: -2px;
}

.bottom-container {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  display: none;
  bottom: 0;
  margin-bottom: -40px;
  max-width: 100vw;
}
.bottom-container.display {
  display: flex;
  flex-direction: column;
}
.bottom-container .bottom-search-bg {
  margin: 0 0;
  padding: 0.4em 0.4em;
  padding-top: 0 0.4em;
  margin-bottom: -3px;
  display: flex;
  align-items: end;
  justify-content: end;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bottom-container .bottom-search-bg .bottom-search-container .container {
  display: flex;
}
.bottom-container .bottom-search-bg .bottom-search-container .search-icon {
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.bottom-container .bottom-search-bg .bottom-search-container .search-icon svg {
  width: 18px;
  height: 18px;
  transform: translate(-1px, -1px);
}
.bottom-container .bottom-search-bg .bottom-search-container input {
  background-color: #e3edf7;
  padding: 6px 28px;
  padding-right: 38px;
  border-radius: 20px;
  border-color: transparent;
  display: block;
  font-weight: 500;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
.bottom-container .bottom-search-bg .bottom-search-container input::placeholder {
  color: #6d7f8f;
}
.bottom-container .bottom-search-bg .bottom-search-container input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}
.bottom-container .bottom-search-bg .bottom-search-container .close-icon-container {
  padding-left: 12px;
  margin-left: 4px;
  opacity: 80%;
  display: none;
}
.bottom-container .bottom-search-bg .bottom-search-container .close-icon-container.display {
  display: block;
}

@-webkit-keyframes expand {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes glow {
  0% {
    border-color: rgba(132, 68, 92, 0.2);
  }
  50% {
    border-color: #B94EA8;
  }
  100% {
    border-color: rgba(132, 68, 92, 0.2);
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: rgba(132, 68, 92, 0.2);
  }
  50% {
    border-color: #B94EA8;
  }
  100% {
    border-color: rgba(132, 68, 92, 0.2);
  }
}
.tabs-content .swiper-container {
  width: 100%;
  height: 300px;
}

.tabs-content .swiper-slide {
  padding: 1rem 0.1rem;
  padding-bottom: 0;
}
.tabs-content .swiper-slide:not(.swiper-slide-active) {
  padding-left: 1rem;
  overflow: hidden;
}

.tabs-buttons {
  height: auto;
  overflow: clip;
  margin-left: -4px;
  border-bottom: 1px solid lightgray;
  font-size: 0.785rem;
}

.tabs-buttons .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.tabs-buttons .swiper-slide {
  width: auto;
  height: auto;
  cursor: pointer;
  padding: 0.3rem 0.7rem;
}

.tabs-buttons .active-tab {
  opacity: 1;
  background-color: #708090;
  color: white;
}

.category {
  padding: 0.8em 0;
}
.category.extra-space {
  padding-bottom: 2.5em;
}
.category.deals .photo__caption {
  position: relative;
  /*                            &:before {
          content: "";
          width: 150px;
          height: 105px;
          background-color: black;
          position: absolute;
          top: 6px;
          left: 8px;
          border-radius: 10px;
          opacity: 8%;
      }*/
}
.category.deals .photo__caption img {
  /*                filter: drop-shadow(4px 4px 2px aliceblue);
  */
}

.navigation-subcategories {
  position: relative;
}
.navigation-subcategories .nav-sub-content nav {
  border-radius: 20px;
}
.navigation-subcategories .nav-sub-content .sub-slide {
  margin: 0 0.8em;
  padding: 0.3em 0.4em;
  background-color: white;
  -webkit-box-shadow: 0 0 2px #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
}
.navigation-subcategories .nav-sub-content .sub-slide ul {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  margin: 0;
  padding: 0.075em 0.6em;
}
.navigation-subcategories .nav-sub-content .sub-slide ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 2px 12px;
  z-index: 1;
}
.navigation-subcategories .nav-sub-content .sub-slide .sub-nav-link {
  padding: 0.1em 1em;
  text-decoration: none;
  color: black;
  opacity: 70%;
  font-size: 0.835rem;
  font-weight: 500;
  border-radius: 20px;
}
.navigation-subcategories .nav-sub-content .sub-slide .sub-nav-link.active {
  color: white;
  background-color: #708090;
}
.navigation-subcategories .nav-sub-content .sub-slide:not(.slide-active) {
  display: none;
}

.item-info {
  height: max-content;
  display: none;
  position: sticky;
  bottom: 0;
  width: 100vw;
  min-height: 60vh;
  max-height: 100vh;
  z-index: 30;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px -10px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  /*    border-top-left-radius: 20px;
  border-top-right-radius: 20px;*/
  /*    .swiper-button-prev, .swiper-button-next {
      margin-top: 8em;
  }

  .swiper-button-prev {
      margin-left: 1em;
  }

  .swiper-button-next {
      margin-right: 1em;
  }*/
}
.item-info .swiper-pagination-bullet-active {
  background-color: black !important;
  opacity: 60%;
}
.item-info.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-info .pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
}
.item-info .pagination-container .item-swiper-pagination {
  transform: translateX(0) !important;
}
.item-info .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1.2em;
  height: 4em;
  margin-top: 0.4em;
  border-bottom: 1px solid lightgray;
}
.item-info .section-title {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.item-info .close-container {
  border-radius: 100px;
  z-index: 22;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.item-info .gallery {
  width: 100%;
  margin: 10px auto;
  margin-bottom: 0;
  min-height: 55vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-info .gallery.hide {
  display: none;
}
.item-info .gallery-slider {
  width: 100%;
  height: auto;
  margin: 0 0 1.2em 0;
}
.item-info .gallery-slider .swiper-slide {
  width: auto;
  height: auto;
  touch-action: pan-y;
}
.item-info .gallery-slider .swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.item-info .gallery-thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.item-info .gallery-thumbs .swiper-slide {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  opacity: 0.1;
}
.item-info .gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.item-info .gallery-thumbs .swiper-slide img {
  width: auto;
  height: 100%;
}
.item-info .gallery-slider .swiper-slide {
  display: flex;
  justify-content: start;
}
.item-info .gallery-slider .text-photo-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-bottom: 8px;
  min-height: 0;
  min-width: 0;
  min-height: 125px;
  text-align: left;
  opacity: 85%;
  padding: 0.7em;
  max-height: 72vh;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
}
.item-info .gallery-slider .text-photo-container .product-info {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}
.item-info .gallery-slider .text-photo-container .product-info.no-desc {
  justify-content: center;
  gap: 0.2em;
}
.item-info .gallery-slider .text-photo-container .product-info .product-text {
  flex-shrink: 10;
  padding: 0 6px;
  margin: 0.6rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  overflow: hidden;
  margin-left: 0.4rem;
  /*                display: grid;
  grid-template-rows: auto 60px 30px;*/
}
.item-info .gallery-slider .text-photo-container .product-info .product-text h3 {
  font-size: 1rem;
  font-weight: 500;
  grid-row: 1;
}
.item-info .gallery-slider .text-photo-container .product-info .product-text p:not(.final-price) {
  font-weight: 500;
  font-size: 0.935rem;
  color: black;
  opacity: 50%;
  grid-row: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item-info .gallery-slider .text-photo-container .product-info .product-price {
  padding: 0 6px;
  width: 100%;
}
.item-info .gallery-slider .text-photo-container .product-info .product-price .final-price {
  padding-bottom: 2px;
  color: black;
  margin: 0;
  display: flex;
  justify-content: start;
  margin-left: 0.5em;
  font-weight: 500;
  font-size: 0.975rem;
  align-items: center;
}
.item-info .gallery-slider .text-photo-container .product-info .product-price .final-price.has-discount {
  color: red;
}
.item-info .gallery-slider .text-photo-container .product-info .product-price .final-price.has-discount .original-price {
  font-size: 1rem;
  margin-left: 6px;
  background: linear-gradient(to bottom, transparent 55%, lightgray 55% 62%, transparent 62%);
  color: lightgray;
}
.item-info .gallery-slider .text-photo-container .product-photo-container {
  width: 100%;
  height: 100%;
  max-height: 105px;
  min-width: 95px;
  display: flex;
  justify-content: end;
}
.item-info .gallery-slider .text-photo-container .product-photo-container .product-photo {
  border: 1px solid transparent;
  border-radius: 8px;
  /*                    width: 100%;
  height: 100%;*/
  width: 95px;
  height: 105px;
  object-fit: cover;
}
.item-info #thumbs-gallery-swiper {
  position: relative;
}
.item-info #thumbs-gallery-swiper:before {
  content: "";
  position: absolute;
}
.item-info #thumbs-gallery-swiper .swiper-slide {
  background-color: #e3edf7;
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-info #thumbs-gallery-swiper .product-text {
  margin: 0;
  padding: 0;
}
.item-info #thumbs-gallery-swiper .product-name {
  font-size: 0.875rem;
  opacity: 90%;
}

.out-of-stock-container {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0.2em;
}
.out-of-stock-container .out-of-stock-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /*                display: flex;
                  justify-content: center;*/
  /*                align-items: center;
  */
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product {
  padding: 0;
  position: relative;
  border-bottom: 1px solid rgba(237, 231, 225, 0.75);
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product:after {
  content: "OUT OF STOCK";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 0;
  width: 100%;
  height: 0.9em;
  background-color: #e3edf7;
  transform: rotate(45deg);
  opacity: 70%;
  margin: 50px;
  color: white;
  font-size: 1.4rem;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 12px 4px;
  padding-bottom: 8px;
  min-height: 0;
  min-width: 0;
  grid-column-gap: 8px;
  min-height: 125px;
  text-align: left;
  opacity: 80%;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-info {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 6px;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-info.no-desc {
  justify-content: center;
  gap: 0.6em;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-info .product-text {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  overflow: hidden;
  /*                display: grid;
  grid-template-rows: auto 60px 30px;*/
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-info .product-text h3 {
  font-size: 0.935rem;
  grid-row: 1;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-info .product-text p:not(.final-price) {
  font-weight: 500;
  font-size: 0.875rem;
  color: black;
  opacity: 50%;
  grid-row: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-info .product-price .final-price {
  padding-bottom: 2px;
  color: black;
  margin: 0;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-info .product-price .final-price.has-discount {
  color: red;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-photo-container {
  width: 100%;
  height: 100%;
  max-height: 105px;
  min-width: 95px;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .text-photo-container .product-photo-container .product-photo {
  border: 1px solid transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .final-price {
  font-size: 1rem;
  position: relative;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .final-price .original-price {
  font-size: 1rem;
  margin-left: 6px;
  background: linear-gradient(to bottom, transparent 55%, lightgray 55% 62%, transparent 62%);
  color: lightgray;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product:last-child {
  border-bottom: 0;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .tags-container {
  display: flex;
  padding: 4px;
  gap: 8px;
  margin-bottom: 12px;
  flex-wrap: wrap;
  justify-content: start;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .tags-container .tag {
  padding: 1px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.735rem;
  background-color: #e3edf7;
  min-width: 40px;
  border-radius: 20px;
  font-weight: 500;
}
.out-of-stock-container .out-of-stock-swiper .swiper-slide .out-of-stock-product .tags-container .tag img {
  /*                        max-height: 16px;
  max-width: 16px;*/
}

.tonny {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3em;
}
.tonny a {
  text-decoration: none;
}
.tonny a h1 {
  text-decoration: none;
  color: #a9b8c9;
  font-size: 0.925rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.tonny a:hover {
  cursor: pointer;
}

#brand-info-content {
  min-height: 100vh;
  min-width: 100vw;
  display: none;
}
#brand-info-content.display {
  display: flex;
  justify-content: center;
}
#brand-info-content .brand-info-inner {
  background-color: white;
  padding-bottom: 3em;
  max-width: 960px;
  padding: 0.4em;
  /*        border: 1px solid lightgray;
  */
}
#brand-info-content .border-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  padding: 0.4em;
  padding-top: 1.2em;
}
#brand-info-content .events-swiper {
  width: 100%;
  overflow: hidden;
  margin-top: 0.2em;
  position: relative;
}
#brand-info-content .close-container {
  padding: 0.735em 0.935em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  background-color: white;
  margin-left: -0.4em;
  -webkit-box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.76);
  color: transparent;
  top: 0;
}
#brand-info-content .close-container .close-area {
  padding: 0.6em;
  border-radius: 100px;
  z-index: 22;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8em;
  height: 1.8em;
  background-color: white;
  margin-left: 0.4em;
  color: black;
  opacity: 70%;
  font-size: 1.1rem;
}
#brand-info-content .close-container .brand-name {
  font-weight: 500;
  color: black;
  opacity: 70%;
}
#brand-info-content .swiper-slide {
  background-position: center;
  background-size: cover;
  padding: 1em;
  padding-bottom: 3em;
}
#brand-info-content .swiper-slide.cancelled:after {
  content: "Cancelled";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 0;
  width: 100%;
  height: 1em;
  background-color: indianred;
  transform: rotate(45deg);
  opacity: 70%;
  margin: 50px;
  color: white;
  font-size: 1.4rem;
}
#brand-info-content .swiper-pagination-bullet-active {
  background-color: black !important;
  opacity: 60%;
}
#brand-info-content .swiper-slide img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
#brand-info-content .info-item-container {
  margin-top: 1em;
  padding: 1em 1.6em;
  padding-bottom: 3em;
}
#brand-info-content .info-item-container .event-name {
  font-weight: 500;
  font-size: 1.2rem;
}
#brand-info-content .info-item-container .event-desc {
  font-weight: 500;
  font-size: 0.875rem;
  opacity: 70%;
}
#brand-info-content .info-item-container .event-time {
  font-weight: 500;
  font-size: 0.855rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.4em 0;
  border-bottom: 1px solid lightgray;
  color: seagreen;
  opacity: 780%;
  margin-top: 0.8em;
}
#brand-info-content .info-item-container .event-about {
  padding: 0.6em 0;
}
#brand-info-content .s-title {
  padding: 0.2em;
  display: flex;
  justify-content: start;
  margin-bottom: 0.6em;
  font-weight: 500;
  font-size: 1rem;
  opacity: 80%;
}
#brand-info-content .opening-hours {
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(169, 184, 201, 0.4);
  border-radius: 20px;
  font-weight: 500;
  font-size: 0.935rem;
}
#brand-info-content .opening-hours td, #brand-info-content .opening-hours th {
  padding: 0.6em 0.8em;
}
#brand-info-content .opening-hours .closed-text {
  color: indianred;
  opacity: 80%;
}
#brand-info-content .opening-hours .open-text {
  color: seagreen;
  opacity: 80%;
}
#brand-info-content .address-info {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-left: 0.6em;
}
#brand-info-content .location-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.935rem;
  color: black;
  opacity: 70%;
}
#brand-info-content .location-text .location {
  padding-left: 1.65em;
  padding-right: 0.7em;
}
#brand-info-content .contact-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.935rem;
  color: black;
  opacity: 70%;
}
#brand-info-content .contact-text .contact {
  padding-left: 1em;
  padding-right: 0.7em;
}
#brand-info-content .about {
  margin-left: 1em;
  border-radius: 20px;
  font-weight: 400;
  line-height: 1.4rem;
  font-size: 0.935rem;
  opacity: 70%;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.search-page-container {
  width: 100%;
  height: 100%;
  z-index: 20;
}

.swiper-pagination-progressbar-fill {
  background-color: seagreen !important;
  opacity: 70%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56.5vh;
}
.loader-container.hide {
  display: none;
}

.loader {
  color: #708090;
  font-size: 7px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.swiperSpecials .swiper-slide {
  max-width: 180px;
}
.swiperSpecials .badge__container {
  width: 100px;
  height: 100px;
}
.swiperSpecials .photo__caption {
  margin-top: 16px;
  max-width: 160px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.swiperSpecials .product {
  border-bottom: 0 !important;
}
.swiperSpecials .special__prices {
  position: absolute;
  right: 0px;
  top: -9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.3rem;
  filter: drop-shadow(1px 1px 1px lightgray);
}
.swiperSpecials .special__prices .final-price {
  font-weight: 500;
  color: black;
  font-size: 0.955rem;
  background-color: white;
  border-radius: 8px;
  padding: 0.4em 0.6em;
  border: 1px solid aliceblue;
}
.swiperSpecials .special__prices .original-price {
  font-size: var(--font-xxs);
  margin-left: 6px;
  background: linear-gradient(to bottom, transparent 55%, lightgray 55% 62%, transparent 62%);
  color: lightgray;
}
.swiperSpecials .caption {
  max-width: max-content;
  opacity: 100%;
  font-size: 0.955rem;
  font-weight: 500;
  opacity: 90%;
}
.swiperSpecials .product__photo {
  height: auto;
  width: 150px;
  height: 105px;
  border-radius: 10px;
  filter: brightness(95%);
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .item-info .gallery-slider .text-photo-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 8px;
    min-height: 0;
    min-width: 0;
    min-height: 125px;
    text-align: left;
    opacity: 85%;
    padding: 0.7em;
    max-height: 72vh;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;
    /*                &.deals {
        padding-left: 1.6em;
        padding-right: 1.6em;
        grid-template-columns: 1fr !important;
        gap: .4em;

        .product-info {
        }


        .product-photo-container {
            max-width: 100% !important;



            .product-photo {
                width:95%;
            }
        }
    }*/
  }
}
@media screen and (min-width: 481px) {
  .item-info {
    height: max-content;
    display: none;
    position: sticky;
    bottom: 0;
    width: 100vw;
    min-height: 60vh;
    max-height: 100vh;
    z-index: 30;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px -10px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    /*    border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
    /*    .swiper-button-prev, .swiper-button-next {
        margin-top: 8em;
    }

    .swiper-button-prev {
        margin-left: 1em;
    }

    .swiper-button-next {
        margin-right: 1em;
    }*/
  }
  .item-info .swiper-pagination-bullet-active {
    background-color: black !important;
    opacity: 60%;
  }
  .item-info.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .item-info .pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  .item-info .pagination-container .item-swiper-pagination {
    transform: translateX(0) !important;
  }
  .item-info .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.2em;
    height: 4em;
    margin-top: 0.4em;
    border-bottom: 1px solid lightgray;
  }
  .item-info .section-title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.175rem;
  }
  .item-info .close-container {
    border-radius: 100px;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .item-info .gallery {
    width: 100%;
    margin: 10px auto;
    margin-bottom: 0;
    min-height: 55vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .item-info .gallery.hide {
    display: none;
  }
  .item-info .gallery-slider {
    width: 100%;
    height: auto;
    margin: 0 0 1.2em 0;
  }
  .item-info .gallery-slider .swiper-slide {
    width: auto;
    height: auto;
    touch-action: pan-y;
  }
  .item-info .gallery-slider .swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  .item-info .gallery-thumbs {
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  .item-info .gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    opacity: 0.1;
  }
  .item-info .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
  .item-info .gallery-thumbs .swiper-slide img {
    width: auto;
    height: 100%;
  }
  .item-info .gallery-slider .swiper-slide {
    padding: 1em 1.4em;
    display: flex;
    justify-content: space-between;
  }
  .item-info .gallery-slider .text-photo-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 8px;
    min-height: 0;
    min-width: 0;
    min-height: 125px;
    text-align: left;
    opacity: 85%;
    padding: 1em;
    max-height: 72vh;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;
  }
  .item-info .gallery-slider .text-photo-container .product-info {
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
  }
  .item-info .gallery-slider .text-photo-container .product-info.no-desc {
    justify-content: center;
    gap: 0.2em;
  }
  .item-info .gallery-slider .text-photo-container .product-info .product-text {
    padding: 0 6px;
    margin: 0.6rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    overflow: hidden;
    /*                display: grid;
    grid-template-rows: auto 60px 30px;*/
  }
  .item-info .gallery-slider .text-photo-container .product-info .product-text h3 {
    font-size: 1.175rem;
    font-weight: 500;
    grid-row: 1;
  }
  .item-info .gallery-slider .text-photo-container .product-info .product-text p:not(.final-price) {
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    opacity: 50%;
    grid-row: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .item-info .gallery-slider .text-photo-container .product-info .product-price {
    padding: 0 6px;
    width: 100%;
  }
  .item-info .gallery-slider .text-photo-container .product-info .product-price .final-price {
    padding-bottom: 2px;
    color: black;
    margin: 0;
    display: flex;
    justify-content: start;
    margin-left: 0.5em;
    font-weight: 500;
    font-size: 1.175rem;
  }
  .item-info .gallery-slider .text-photo-container .product-info .product-price .final-price.has-discount {
    color: red;
  }
  .item-info .gallery-slider .text-photo-container .product-info .product-price .final-price.has-discount .original-price {
    font-size: 1.175rem;
    margin-left: 6px;
    background: linear-gradient(to bottom, transparent 55%, lightgray 55% 62%, transparent 62%);
    color: lightgray;
  }
  .item-info .gallery-slider .text-photo-container .product-photo-container {
    width: 100%;
    height: 100%;
    max-height: 180px;
    min-width: 220px;
    display: flex;
    justify-content: end;
  }
  .item-info .gallery-slider .text-photo-container .product-photo-container .product-photo {
    border: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    width: 180px;
    height: 140px;
    object-fit: cover;
  }
  .item-info #thumbs-gallery-swiper {
    position: relative;
  }
  .item-info #thumbs-gallery-swiper:before {
    content: "";
    position: absolute;
  }
  .item-info #thumbs-gallery-swiper .swiper-slide {
    background-color: #e3edf7;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-info #thumbs-gallery-swiper .product-text {
    margin: 0;
    padding: 0;
  }
  .item-info #thumbs-gallery-swiper .product-name {
    font-size: 1.075rem;
    opacity: 90%;
    padding: 0.4em;
  }
}
.tonny {
  margin-top: 2em;
}

footer {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  text-align: center;
}
footer .footer-content {
  border-top: 1px solid lightgray;
  max-width: 960px;
  width: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 0 2em;
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
footer .footer-content a {
  text-decoration: none;
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
footer .footer-content .copyright {
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
footer .footer-content .terms {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
