* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.divider {
  height: 1px;
  background-color: black;
  opacity: 40%;
  margin-left: 8px;
  margin-right: 40px;
  -webkit-box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.76);
}

.page-content .inner-content {
  flex-grow: 1;
  max-width: 960px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.top-cover {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.top-cover .cover-container {
  margin: 0 4px;
  flex-grow: 1;
  position: relative;
}
.top-cover .cover-container .cover-image-container .cover-image {
  border: 1px solid whitesmoke;
  border-radius: 20px 20px;
  width: 100%;
  min-height: 35vh;
  max-height: 35vh;
  object-fit: cover;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.76);
}
.top-cover .cover-container .brand-image-container {
  position: absolute;
  bottom: -45px;
  right: 25px;
  z-index: 10;
}
.top-cover .cover-container .brand-image-container .brand-image {
  border: 1px solid whitesmoke;
  border-radius: 20px 20px;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
  object-fit: cover;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.76);
  animation: 12s infinite glow linear;
}

.content-container {
  background-color: white;
  margin-top: -40px;
  border: 1px solid #FFFAFA;
  border-radius: 20px 20px;
  width: 100%;
  -webkit-box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 8px 10px -7px rgba(0, 0, 0, 0.76);
  padding: 0.8em;
  padding-top: 45px;
  max-width: 100vw;
}
.content-container .brand-info-container {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1.6em;
}
.content-container .brand-info-container .social-container {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: -2px;
  position: relative;
  margin-bottom: 0.4em;
}
.content-container .brand-info-container .social-container .social-icon {
  max-width: 28px;
  max-height: 28px;
}
.content-container .brand-info-container .brand-name {
  min-height: 30px;
  max-width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
}
.content-container .brand-info-container .promo-text {
  opacity: 60%;
}
.content-container .search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-bottom: 1.6em;
}
.content-container .search-container .search-row {
  padding: 1px;
  overflow: hidden;
  max-width: 380px;
}
.content-container .search-container .row-inner {
  border-radius: 20px;
}
.content-container .search-container .container {
  display: flex;
}
.content-container .search-container .search-icon {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.content-container .search-container .search-icon svg {
  width: 18px;
  height: 18px;
  transform: translate(-1px, -1px);
}
.content-container .search-container .input-container {
  width: 100%;
  position: relative;
}
.content-container .search-container .input-container .close-icon {
  position: absolute;
  top: 14px;
  right: 6%;
}
.content-container .search-container input {
  background-color: #e3edf7;
  padding: 8px 28px;
  padding-right: 38px;
  border-radius: 20px;
  border-color: transparent;
  display: block;
  font-weight: 500;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
.content-container .search-container input::placeholder {
  color: #6d7f8f;
}
.content-container .search-container input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}
.content-container .search-container .input-container {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.content-container .search-container .input-container:before, .content-container .search-container .input-container:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.content-container .search-container .input-container:before {
  box-shadow: var(--bottom-shadow);
}
.content-container .search-container .input-container:after {
  box-shadow: var(--top-shadow);
}
.content-container .menu-navigation-bg {
  margin-bottom: 1.4em;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.content-container .menu-navigation-bg.sticky {
  background-color: white;
  margin: 0 -0.8em;
  margin-bottom: 0;
  padding: 0.4em 0.8em;
  -webkit-box-shadow: 0 1px 2px #ccc;
}
.content-container .menu-navigation-bg .menu-navigation-container {
  background-color: #e3edf7;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 0 -6px;
  overflow: clip;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list {
  margin: 0;
  padding: 0 10px;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0 12px;
  z-index: 1;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list .nav-item .nav-link {
  padding: 4px 16px;
  margin: 6px 0;
  color: black;
  opacity: 60%;
  font-weight: 500;
  border-radius: 20px;
}
.content-container .menu-navigation-bg .menu-navigation-container .navigation-list .nav-item .nav-link.active {
  opacity: 100%;
  border-radius: 20px;
  color: white;
  background-color: slategrey;
  overflow: hidden;
}
.content-container .menu-container {
  padding: 4px 4px;
}
.content-container .menu-container .heading-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.4em;
  border-bottom: 1px solid lightgray;
  margin: 16px 0px;
}
.content-container .menu-container .heading-icon-container .heading-icon {
  margin-top: -0.6rem;
  width: 24px;
  height: 24px;
}
.content-container .menu-container .heading-icon-container .heading {
  font-size: 1.2rem;
}
.content-container .menu-container .product {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 12px 4px;
  padding-bottom: 8px;
  min-height: 0;
  min-width: 0;
  grid-column-gap: 6px;
  border-bottom: 1px solid rgba(237, 231, 225, 0.75);
}
.content-container .menu-container .product .product-text {
  padding: 0 6px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 60px 30px;
  max-width: 550px;
}
.content-container .menu-container .product .product-text h3 {
  font-size: 0.975rem;
  grid-row: 1;
}
.content-container .menu-container .product .product-text p:not(.final-price) {
  font-weight: 400;
  font-size: 0.875rem;
  color: black;
  opacity: 40%;
  grid-row: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.content-container .menu-container .product .product-text .final-price {
  padding-bottom: 2px;
  color: black;
}
.content-container .menu-container .product .product-text .final-price.has-discount {
  color: red;
}
.content-container .menu-container .product .product-photo-container {
  width: 100%;
  height: 100%;
  max-height: 110px;
}
.content-container .menu-container .product .product-photo-container .product-photo {
  border: 1px solid transparent;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-container .menu-container .product .final-price {
  font-size: 1rem;
}
.content-container .menu-container .product .final-price .original-price {
  font-size: 1rem;
  margin-left: 6px;
  background: linear-gradient(to bottom, transparent 55%, lightgray 55% 62%, transparent 62%);
  color: lightgray;
}
.content-container .menu-container .product:last-child {
  border-bottom: 0;
}

@keyframes glow {
  0% {
    border-color: whitesmoke;
  }
  25% {
    border-color: aliceblue;
  }
  75% {
    border-color: black;
  }
  100% {
    border-color: whitesmoke;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: whitesmoke;
  }
  25% {
    border-color: aliceblue;
  }
  75% {
    border-color: black;
  }
  100% {
    border-color: whitesmoke;
  }
}
.example-1 {
  background-image: linear-gradient(to top left, #3e60be, #23ded2);
  color: #323232;
}

.example-2 {
  background-image: linear-gradient(to top left, purple, #121212, blue);
  color: white;
}

[class*=example-] {
  height: 50vh;
  display: grid;
  place-items: center;
  font-weight: bold;
}
