@using Connect.Models;
@using System.Globalization
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

@{
    Layout = null ;


}
<div class="sync__products__container">
    <button class="sync__now" id="syncNow" type="submit" value="submit">
        Sync Products Now
    </button>

</div>