@charset "UTF-8";
@font-face {
  font-family: "ocraextended";
  src: url("../../fonts/ocraextended.ttf") format("truetype");
}
* {
  font-family: "Carlito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.grecaptcha-badge {
  visibility: hidden;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: #111;
}
body.block {
  display: block;
  background: #E3EDF7;
}
body.loaded {
  background-color: #E3EDF7;
}

.main__page__content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*Styling logo*/
  /*Styling Links*/
  /*Styling Buttons*/
  /*Styling Hamburger Icon*/
  /*Stying for small screens*/
  /*Animating Hamburger Icon on Click*/
}
.main__page__content .intro {
  text-align: center;
}
.main__page__content .intro h1 {
  font-family: ocraextended;
  font-size: 4rem;
  opacity: 0.1;
  color: #E3EDF7;
}
.main__page__content .partners {
  margin-top: 2em;
}
@media screen and (max-width: 900px) {
  .main__page__content .partners {
    margin-top: 5em;
  }
  .main__page__content .intro {
    text-align: center;
  }
  .main__page__content .intro h1 {
    font-family: ocraextended;
    font-size: 2.8rem;
    opacity: 0.1;
    color: #E3EDF7;
  }
}
.main__page__content div.small {
  background: #E3EDF7;
  width: 20px;
  height: 20px;
  position: absolute;
  transition: all 0.5s;
  display: none;
  opacity: 0;
}
.main__page__content div.big {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: #E3EDF7;
}
.main__page__content nav {
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 10;
  padding: 0 1em;
}
.main__page__content .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.main__page__content .logo {
  padding: 0.2em;
  text-align: center;
  font-family: ocraextended;
  font-size: 4rem;
  color: #E3EDF7;
  opacity: 0;
}
.main__page__content .nav-links {
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  gap: 2.2rem;
  padding: 0.1em;
  margin-right: 2em;
}
.main__page__content .nav-links li a {
  text-decoration: none;
  color: #e3edf7;
}
.main__page__content .nav-links li a:hover {
  color: #708090;
}
.main__page__content .nav-links li {
  position: relative;
}
.main__page__content .nav-links li a:not(.join-button)::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #E3EDF7;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 0%;
}
.main__page__content .nav-links li a:hover::before {
  width: 100%;
}
.main__page__content .join-button {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid aliceblue;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  min-width: 8em;
  transition: all ease-in-out 350ms;
  text-align: center;
}
.main__page__content .join-button:hover {
  color: black !important;
  background-color: #E3EDF7;
  border: 1.5px solid #f2f5f7;
}
.main__page__content .hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
}
.main__page__content .hamburger {
  display: none;
}
.main__page__content .section__title {
  font-weight: 600;
  font-size: 2rem;
  padding: 0.2em;
  padding-top: 1em;
  border-bottom: 1px solid rgba(19, 20, 24, 0.1);
  margin-bottom: 1em;
  width: 100%;
  font-family: "Comfortaa", sans-serif;
}
@media screen and (max-width: 900px) {
  .main__page__content .section__title {
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 1em;
    border-bottom: 1px solid rgba(19, 20, 24, 0.1);
  }
  .main__page__content nav {
    position: fixed;
    z-index: 3;
    height: 5em;
  }
  .main__page__content .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .main__page__content .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: center;
  }
  .main__page__content .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .main__page__content .nav-links li {
    opacity: 0;
  }
  .main__page__content .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .main__page__content .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .main__page__content .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .main__page__content .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .main__page__content .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .main__page__content .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .main__page__content .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  .main__page__content li.fade {
    opacity: 1;
  }
}
.main__page__content .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.main__page__content .toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.main__page__content .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.main__page__content .main__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
  opacity: 0;
  gap: 7em;
}
.main__page__content .partners {
  max-width: 1140px;
  width: 100%;
}
.main__page__content .partners .partner__address {
  text-align: center;
}
.main__page__content .section-desc {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6em;
  max-width: 960px;
}
.main__page__content .main {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 960px;
  margin: 2em 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 1px #ddd;
  position: relative;
}
.main__page__content .main .partner__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__page__content .main .partner__info .brand__logo {
  width: 120px;
  height: 120px;
  margin-bottom: 2em;
}
.main__page__content .main .partner__info .brand__logo img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main__page__content h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}
.main__page__content p {
  font-size: 18px;
  line-height: 1.3;
}
.main__page__content img {
  max-width: 100%;
  height: 450px;
  box-shadow: 2px 2px 4px 1px #ddd;
}
@media (max-width: 600px) {
  .main__page__content .main {
    display: block;
  }
  .main__page__content p {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5215686275);
  }
  .main__page__content img {
    max-width: 100%;
    background-position: center;
    object-fit: cover;
  }
  .main__page__content h2 {
    font-size: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.main__page__content .about {
  max-width: 1140px;
  width: 100%;
  /*        @media(max-width:600px) {
      .about_photos {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 1em;
          margin-top: 2em;
      }
  }*/
}
.main__page__content .about .about__content {
  font-weight: 500;
  padding: 0 0.4em;
}
.main__page__content .about .about__text {
  max-width: 1000px;
}
.main__page__content .about .about_photos {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
}
.main__page__content .about .about_photos .image-container {
  width: 340px;
  height: 460px;
}
.main__page__content .about .about_photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 1px #ddd;
}
.main__page__content .services {
  font-weight: 500;
}
.main__page__content .services {
  max-width: 1140px;
}
.main__page__content .services .button-container {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: end;
}
.main__page__content .services .join-button {
  color: #f2f5f7;
  background-color: #f0f8ff;
  border: 1.5px solid aliceblue;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  min-width: 8em;
  transition: all ease-in-out 350ms;
  border-radius: 12px;
  text-align: center;
}
.main__page__content .services .join-button:hover {
  color: black !important;
  background-color: #E3EDF7;
}
.main__page__content .container {
  padding: 0;
  max-width: 100%;
}
.main__page__content .services .header-section {
  margin-bottom: 35px;
}
.main__page__content .services .single-service {
  margin-top: 40px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 12px;
}
.main__page__content .services .single-service .part-1 {
  padding: 30px 40px;
  border-bottom: 0;
  background-color: aliceblue;
  border-radius: 12px;
  color: black;
  display: flex;
  justify-content: space-between;
  /*        display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;*/
}
.main__page__content .services .single-service .part-1 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-align: start;
  line-height: 1.5em;
}
.main__page__content .services .single-service .part-1 i {
  margin-bottom: 25px;
  color: #f70037;
}
.main__page__content .services .single-service .part-1 .title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
}
.main__page__content .services .single-service .part-1 .title span {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.main__page__content .services .num {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.2rem !important;
}
.main__page__content .services .single-service .part-2 {
  padding: 30px 40px 40px;
}
.main__page__content .services .single-service .part-2 .description {
  margin-bottom: 22px;
  color: black;
  opacity: 70%;
  font-size: 1rem;
  line-height: 1.8em;
}
.main__page__content .services .single-service .part-2 a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}
.main__page__content .services .single-service .part-2 a i {
  margin-right: 10px;
  color: #f70037;
}
.main__page__content .contact {
  width: 100%;
  max-width: 1140px;
  /* Remove native arrow on IE */
  /*Remove dotted outline from selected option on Firefox*/
  /*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
  /*We use !important to override the color set for the select on line 99*/
  /* FORM ELEMENTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* FORM BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* CUSTOM CHECKBOX
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*       .my-form input[type="checkbox"]:checked + label::before {
      background: #E3EDF7;
  }*/
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
}
.main__page__content .contact input,
.main__page__content .contact select,
.main__page__content .contact textarea,
.main__page__content .contact button {
  font-family: inherit;
  font-size: 100%;
}
.main__page__content .contact button,
.main__page__content .contact label {
  cursor: pointer;
}
.main__page__content .contact select {
  appearance: none;
}
.main__page__content .contact select::-ms-expand {
  display: none;
}
.main__page__content .contact select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}
.main__page__content .contact textarea {
  resize: none;
}
.main__page__content .contact ul {
  list-style: none;
}
.main__page__content .contact :root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}
.main__page__content .contact .my-form {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 12px;
  padding: 2em 0;
  display: flex;
  justify-content: center;
}
.main__page__content .contact .my-form ul {
  margin: 0;
  padding: 0;
  padding: 2em;
}
.main__page__content .contact .my-form h1 {
  margin-bottom: 1.5rem;
}
.main__page__content .contact .my-form li,
.main__page__content .contact .my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.main__page__content .contact .my-form select,
.main__page__content .contact .my-form input,
.main__page__content .contact .my-form textarea,
.main__page__content .contact .my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid lightgray;
  border-radius: 12px;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.main__page__content .contact .my-form textarea {
  height: 170px;
}
.main__page__content .contact .my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}
.main__page__content .contact .my-form select:focus,
.main__page__content .contact .my-form input:focus,
.main__page__content .contact .my-form textarea:focus,
.main__page__content .contact .my-form button:enabled:hover,
.main__page__content .contact .my-form button:focus,
.main__page__content .contact .my-form input[type=checkbox]:focus + label {
  background: var(--bgFormElsFocus);
}
.main__page__content .contact .my-form select:focus,
.main__page__content .contact .my-form input:focus,
.main__page__content .contact .my-form textarea:focus {
  transform: scale(1.02);
}
.main__page__content .contact .my-form *:required,
.main__page__content .contact .my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}
.main__page__content .contact .my-form *:required {
  background-image: url("../../images/asteriskblue.png");
}
.main__page__content .contact .text__area:required {
  background-position: top 20px right 12px !important;
}
.main__page__content .contact .my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}
.main__page__content .contact .my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}
.main__page__content .contact .my-form button {
  font-weight: bold;
}
.main__page__content .contact .my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}
.main__page__content .contact .my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}
.main__page__content .contact .my-form button:enabled:hover .back,
.main__page__content .contact .my-form button:focus .back {
  transform: translate(-50%, -50%);
}
.main__page__content .contact .my-form button:enabled:hover .front,
.main__page__content .contact .my-form button:focus .front {
  transform: translateX(110%);
}
.main__page__content .contact .my-form input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
.main__page__content .contact .my-form input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.main__page__content .contact .my-form input[type=checkbox] + label::before,
.main__page__content .contact .my-form input[type=checkbox] + label::after {
  content: "";
  position: absolute;
}
.main__page__content .contact .my-form input[type=checkbox] + label::before {
  left: 0;
  top: 7px;
  width: 18px;
  height: 18px;
  border: 2px solid lightgray;
}
.main__page__content .contact .my-form input[type=checkbox]:checked + label::after {
  left: 7px;
  top: 2px;
  width: 9px;
  height: 18px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}
@media screen and (min-width: 600px) {
  .main__page__content .contact .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }
  .main__page__content .contact .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .main__page__content .contact .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }
  .main__page__content .contact .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }
  .main__page__content .contact .my-form .required-msg {
    display: block;
  }
}
@media screen and (min-width: 541px) {
  .main__page__content .contact .my-form input[type=checkbox] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }
  .main__page__content .contact .my-form input[type=checkbox]:checked + label::after {
    top: 3px;
  }
}
@media screen and (max-width: 900px) {
  .main__page__content .main__content {
    padding: 1em 1em;
  }
  .main__page__content .intro {
    text-align: center;
  }
  .main__page__content .intro h1 {
    font-family: ocraextended;
    font-size: 2.8rem;
    opacity: 0.1;
    color: #E3EDF7;
  }
  .main__page__content .my-form {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 12px;
    padding: 2em 0;
    display: flex;
    justify-content: center;
  }
  .main__page__content .my-form ul {
    margin: 0;
    padding: 0;
    padding: 1em !important;
  }
  .main__page__content .part-2 {
    padding: 30px 20px !important;
  }
  .main__page__content .services .single-service .part-1 {
    flex-wrap: wrap;
  }
  .main__page__content .part-1 {
    padding: 30px 20px !important;
  }
}
.main__page__content .recaptchaPolicy {
  opacity: 70%;
  padding: 1em 2em;
  font-size: 0.9rem;
  display: flex;
  justify-content: start;
}
.main__page__content .recaptchaPolicy a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
}
.main__page__content .terms {
  opacity: 90%;
}
.main__page__content .terms a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
}

.page__container {
  background-color: #e3edf7;
  width: 100vw;
  display: grid;
  justify-content: center;
  /*Styling logo*/
  /*Styling Links*/
  /*Styling Buttons*/
  /*Styling Hamburger Icon*/
}
.page__container .privacy__terms {
  background-color: #e3edf7;
  padding: 2em;
  padding-top: 4em;
  color: black;
  width: 100%;
  max-width: 1140px;
}
.page__container .privacy__terms a {
  text-decoration: none;
}
.page__container .privacy__terms .para__title {
  font-weight: 700;
  font-size: 1.2rem;
}
.page__container .privacy__terms .para__text {
  opacity: 80%;
  font-weight: 400;
}
.page__container .privacy__terms .privacy {
  margin-top: 4em;
}
.page__container nav {
  height: 6rem;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 0 1em;
}
.page__container .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.page__container .logo {
  padding: 0.2em;
  text-align: center;
  font-family: ocraextended;
  font-size: 4rem;
  color: #E3EDF7;
  opacity: 1;
}
.page__container .nav-links {
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  gap: 2.2rem;
  padding: 0.1em;
  margin-right: 2em;
}
.page__container .nav-links li a {
  text-decoration: none;
  color: #e3edf7;
}
.page__container .nav-links li a:hover {
  color: #708090;
}
.page__container .nav-links li {
  position: relative;
}
.page__container .nav-links li a:not(.join-button)::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #E3EDF7;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 0%;
}
.page__container .nav-links li a:hover::before {
  width: 100%;
}
.page__container .join-button {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid aliceblue;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  min-width: 8em;
  transition: all ease-in-out 350ms;
  text-align: center;
}
.page__container .join-button:hover {
  color: black !important;
  background-color: #E3EDF7;
  border: 1.5px solid #f2f5f7;
}
.page__container .hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
}
.page__container .hamburger {
  display: none;
}
.page__container .max-size {
  max-width: 1140px;
}

footer {
  border-top: 1px solid lightgray;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  text-align: center;
  margin-top: 5em;
}
footer .footer-content {
  max-width: 1140px;
  width: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 0 2em;
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
footer .footer-content a {
  text-decoration: none;
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
footer .footer-content a:hover {
  color: rgb(13, 110, 253);
}
footer .footer-content .copyright {
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
footer .footer-content .terms {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a9b8c9;
  font-size: 0.835rem;
  font-weight: 500;
}
