@use 'sass:list';
@import '_variables.scss';

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.divider {
    height: 1px;
    background-color: black;
    opacity: 40%;
    margin-left: 8px;
    margin-right: 40px;
    -webkit-box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.76);
    box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.76);
}

.page-content {
    display:flex;
    justify-content:center;

    .inner-content {
        flex-grow:1;
        max-width: 960px;
        padding: .5em;
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap: 8px;

    }
}

.top-cover {
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;

    .cover-container {
        flex-grow: 1;
        position: relative;

        .cover-image-container {

            .cover-image {
                border: 1px solid whitesmoke;
                border-radius: 20px 20px;
                width: 100%;
                min-height: 35vh;
                max-height: 35vh;
                object-fit: cover;
                -webkit-box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
                box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
            }
        }


        .brand-image-container {
            position: absolute;
            bottom: -45px;
            right: 25px;
            z-index: 10;

            .brand-image {
                border: 1px solid whitesmoke;
                border-radius: 20px 20px;
                width: 100%;
                min-height: 100px;
                max-height: 100px;
                min-width: 100px;
                max-width: 100px;
                object-fit: cover;
                -webkit-box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
                box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
                animation: 12s infinite glow linear;
            }
        }
    }
}

.content-container {
    border: 1px solid whitesmoke;
    border-radius: 20px 20px;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px #ccc;
    box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
    padding: .8em;

    .brand-info-container {
        margin-left: 10px;
        margin-top: 10px;
        display:flex;
        flex-direction:column;
        gap:4px;

        .brand-name {
            min-height: 30px;
            max-width: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.9rem;
        }

        .promo-text {
            opacity: 60%;
        }

        margin-bottom: 2em;
    }

    .search-container {
        width: 100%;

        .search-row {
            padding: 1px;
            border-radius: 20px;
            overflow: hidden;
            max-width: 380px;
        }

        .row-inner {
            border-radius: 20px;
        }

        .container {
            display: flex;
        }

        .search-icon {
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;

            svg {
                transform: translate(-1px, -1px);
            }
        }


        .input-container {
            width: 100%;
            position: relative;

            .close-icon {
                position: absolute;
                top:35%;
                right:6%;
            }
        }

        input {
            background-color: #e3edf7;
            padding: 12px 28px;
            padding-right: 38px;
            border: none;
            display: block;
            font-family: 'Orbitron', sans-serif;
            font-weight: 600;
            color: #a9b8c9;
            -webkit-appearance: none;
            transition: all 240ms ease-out;
            width: 100%;

            &::placeholder {
                color: #6d7f8f;
            }

            &:focus {
                outline: none;
                color: #6d7f8f;
                background-color: lighten(#e3edf7, 3%);
            }
        }



        .input-container {
            position: relative;
            border-radius: 20px;
            overflow: hidden;

            &:before,
            &:after {
                left: 0;
                top: 0;
                display: block;
                content: "";
                pointer-events: none;
                width: 100%;
                height: 100%;
                position: absolute;
            }

            &:before {
                box-shadow: var(--bottom-shadow);
            }

            &:after {
                box-shadow: var(--top-shadow);
            }
        }
    }
}





@keyframes glow {
    0% {
        border-color: whitesmoke;
    }

    25% {
        border-color: aliceblue;
    }

    75% {
        border-color: black;
    }

    100% {
        border-color: whitesmoke;
    }
}

@-webkit-keyframes glow {
    0% {
        border-color: whitesmoke;
    }

    25% {
        border-color: aliceblue;
    }

    75% {
        border-color: black;
    }

    100% {
        border-color: whitesmoke;
    }
}



    @mixin color-scheme($text, $bg) {
        // if we have a single bg color, then set a background-color
        // and if we have multiple bg colors, set a gradient
        @if list.length($bg) == 1 {
            background-color: $bg;
        }
        @else {
            background-image: linear-gradient(to top left, $bg);
        }

        color: $text;
    }

    .example-1 {
        @include color-scheme($scheme-simple-gradient...);
    }

    .example-2 {
        @include color-scheme(white, (purple, #121212, blue));
    }
    // general styling
    [class*="example-"] {
        height: 50vh;
        display: grid;
        place-items: center;
        font-weight: bold;
    }