@use 'sass:list';
@import '_variables.scss';

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.divider {
    height: 1px;
    background-color: black;
    opacity: 40%;
    margin-left: 8px;
    margin-right: 40px;
    -webkit-box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.76);
    box-shadow: 0px 8px 15px -4px rgba(0,0,0,0.76);
}

.page-content{
    display:flex;
    justify-content:center;
}

.page-content {

    .menu-navigation-bg-abs {
        z-index: 10;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: white;
        margin: 0 8px;
        margin-bottom: 0;
        padding: 0.4em 0.8em;
        -webkit-box-shadow: 0 1px 2px #ccc;
        display: none;

        &.display {
            display: block;
        }

        .top-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hint {
                padding: 0 .2em;
                color: black;
                opacity: 50%;
                font-weight: 500;
                font-size: .785rem;
            }

            .select-all {
                font-size: .75rem;
                padding: 0 .2em;
                font-weight: 600;
                opacity: 70%;
            }
        }

        .menu-navigation-container {
            background-color: #e3edf7;
            border: 1px solid transparent;
            border-radius: 20px;
            margin: 0 -6px;
            overflow: clip;
            margin-top: .2em;

            .navigation-list {
                margin: 0;
                margin-left: -4px;
                padding: 0 4px;

                .select-cat {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    padding: 0 4px;
                    z-index: 1;


                    .cat-item {
                        background-color: #e3edf7;
                        padding: 0px 12px;
                        margin: 6px 0;
                        color: black;
                        opacity: 70%;
                        font-weight: 500;
                        border-radius: 20px;



                        &.selected {
                            opacity: 100%;
                            border-radius: 20px;
                            color: white;
                            background-color: slategrey;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    &.stop-scroll {
        height: 100vh;
        overflow: hidden;

        .top-cover {
            opacity: 0;
        }
    }

    .inner-content {
        flex-grow: 1;
        max-width: 960px;
        padding:.5em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
}

    .top-cover {
        height: 35vh;
        width: 100%;
        display: flex;
        justify-content: center;

        .cover-container {
            margin: 0 4px;
            flex-grow: 1;
            position: relative;

            .cover-image-container {

                .cover-image {
                    border: 1px solid whitesmoke;
                    border-radius: 20px 20px;
                    width: 100%;
                    min-height: 35vh;
                    max-height: 35vh;
                    object-fit: cover;
                    -webkit-box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
                    box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
                }
            }

            .brand-image-container {
                position: absolute;
                bottom: -45px;
                right: 25px;
                z-index: 10;

                .brand-image {
                    border: 1px solid whitesmoke;
                    border-radius: 20px 20px;
                    width: 100%;
                    min-height: 100px;
                    max-height: 100px;
                    min-width: 100px;
                    max-width: 100px;
                    object-fit: cover;
                    -webkit-box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
                    box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
                    animation: 12s infinite glow linear;
                }
            }
        }
    }

.content-container {
    background-color: white;
    margin-top: -40px;
    border: 1px solid #FFFAFA;
    border-radius: 20px 20px;
    width: 100%;
    -webkit-box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
    box-shadow: 0px 8px 10px -7px rgba(0,0,0,0.76);
    padding: .8em;
    padding-top: 45px;
    max-width: 100vw;


    .brand-info-container {
        margin-left: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .social-container {
            max-width: 50%;
            display: flex;
            flex-direction: row;
            margin-left: -2px;
            position: relative;

            .social-icon {
                max-width: 28px;
                max-height: 28px;
            }

            margin-bottom: .4em;
        }



        .brand-name {
            min-height: 30px;
            max-width: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.9rem;
        }

        .promo-text {
            opacity: 60%;
        }

        margin-bottom: 1.6em;
    }

    .menu-navigation-bg {
        margin-bottom: 1.4em;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        z-index: 10;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        &.sticky {
            background-color: white;
            margin: 0 -.8em;
            margin-bottom: 0;
            padding: 0.3em 0.7em;
            -webkit-box-shadow: 0 1px 2px #ccc;
        }

        .menu-navigation-container {
            background-color: #e3edf7;
            border: 1px solid transparent;
            border-radius: 20px;
            margin: 0 -6px;
            overflow: clip;

            .navigation-list {
                margin: 0;
                padding: 0 10px;
                margin-left:-8px;

                .nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    padding: 0 12px;
                    z-index: 1;

                    .nav-link {
                        padding: 4px 16px;
                        margin: 6px 0;
                        color: black;
                        opacity: 60%;
                        font-weight: 500;
                        font-size: .9rem;
                        border-radius: 20px;


                        &.active {
                            opacity: 100%;
                            border-radius: 20px;
                            color: white;
                            background-color: slategrey;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    .menu-container {
        padding: 4px 4px;

        .heading-icon-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: .4em;
            border-bottom: 1px solid lightgray;
            margin: 16px 0px;
            margin-bottom: 0;

            .heading-icon {
                margin-top: -.6rem;
                width: 24px;
                height: 24px;
            }

            .heading {
                font-size: 1.1rem;
            }
        }

        .sub-cat-name-container {
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            padding: 12px 8px;
            padding-bottom: 0;
            background: rgb(240,248,255);
            background: -moz-linear-gradient(298deg, rgba(240,248,255,1) 0%, rgba(255,255,255,1) 89%);
            background: -webkit-linear-gradient(298deg, rgba(240,248,255,1) 0%, rgba(255,255,255,1) 89%);
            background: linear-gradient(298deg, rgba(240,248,255,1) 0%, rgba(255,255,255,1) 89%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f8ff",endColorstr="#ffffff",GradientType=1); /*            border-top: 1px solid lightgray;
*/
            border-top: 1px solid rgba(237, 231, 225,0.75);

            .border-container {
                /*                border-left: 1px solid lightgray;
                border-bottom: 1px solid lightgray;*/
                padding: 4px;
                padding-top: 0;

                h2 {
                    font-size: 0.85rem;
                    opacity: 80%;
                    margin: 0;
                    padding: 0;
                }
            }

            &.no-border-top {
                border-top: 0;
            }
        }



        .product {

            .text-photo-container {
                display: grid;
                grid-template-columns: 3fr 1fr;
                padding: 12px 4px;
                padding-bottom: 8px;
                min-height: 0;
                min-width: 0;
                grid-column-gap: 6px;

                .product-text {
                    padding: 0 6px;
                    overflow: hidden;
                    /*                display: grid;
                grid-template-rows: auto 60px 30px;*/
                    max-width: 550px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    h3 {
                        font-size: 0.975rem;
                        grid-row: 1;
                    }


                    p:not(.final-price) {
                        font-weight: 500;
                        font-size: 0.875rem;
                        color: black;
                        opacity: 50%;
                        grid-row: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }

                    .final-price {
                        padding-bottom: 2px;
                        color: black;
                        margin: 0;

                        &.has-discount {
                            color: red;
                        }
                    }
                }

                .product-photo-container {
                    width: 100%;
                    height: 100%;
                    max-height: 110px;
                    min-width: 100px;

                    .product-photo {
                        border: 1px solid transparent;
                        border-radius: 8px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .final-price {
                font-size: 1rem;
                position: relative;

                .original-price {
                    font-size: 1rem;
                    margin-left: 6px;
                    background: linear-gradient(to bottom, transparent 55%, lightgray 55% 62%, transparent 62%);
                    color: lightgray;
                }
            }

            border-bottom: 1px solid rgba(237, 231, 225,0.75);

            &:last-child {
                border-bottom: 0;
            }

            .tags-container {
                display: flex;
                padding: 4px;
                gap: 8px;
                margin-bottom: 12px;
                flex-wrap: wrap;
                justify-content: start;

                .tag {
                    padding: 1px 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.735rem;
                    background-color: #e3edf7;
                    min-width: 40px;
                    border-radius: 20px;
                    font-weight: 500;


                    img {
                        /*                        max-height: 16px;
                        max-width: 16px;*/
                    }
                }
            }

        }
    }
}

.bottom-container {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    display: none;
    bottom: 0;
    margin-bottom: -40px;
    max-width: 100vw;

    &.display {
        display: flex;
        flex-direction: column;
    }



    .bottom-search-bg {
        margin: 0 0;
        padding: .4em .4em;
        padding-top: 0 0.4em;
        margin-bottom: -3px;
        display: flex;
        align-items: end;
        justify-content: end;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: white;
        -webkit-box-shadow: 0 0 2px #ccc;

        .bottom-search-container {
            .container {
                display: flex;
            }

            .search-icon {
                width: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
                margin-left: 8px;

                svg {
                    width: 18px;
                    height: 18px;
                    transform: translate(-1px, -1px);
                }
            }



            input {
                background-color: #e3edf7;
                padding: 6px 28px;
                padding-right: 38px;
                border-radius: 20px;
                border-color: transparent;
                display: block;
                font-weight: 500;
                color: #a9b8c9;
                -webkit-appearance: none;
                transition: all 240ms ease-out;
                width: 100%;

                &::placeholder {
                    color: #6d7f8f;
                }

                &:focus {
                    outline: none;
                    color: #6d7f8f;
                    background-color: lighten(#e3edf7, 3%);
                }
            }



            .close-icon-container {
                padding-left: 12px;
                margin-left: 4px;
                opacity: 80%;
                display: none;

                &.display {
                    display: block;
                }
            }
        }
    }
}






    @-webkit-keyframes expand {
        0% {
            transform: scaleY(0);
        }


        100% {
            transform: scaleY(1);
        }
    }


    @keyframes glow {
        0% {
            border-color: whitesmoke;
        }

        25% {
            border-color: aliceblue;
        }

        75% {
            border-color: black;
        }

        100% {
            border-color: whitesmoke;
        }
    }

    @-webkit-keyframes glow {
        0% {
            border-color: whitesmoke;
        }

        25% {
            border-color: aliceblue;
        }

        75% {
            border-color: black;
        }

        100% {
            border-color: whitesmoke;
        }
    }





.tabs-content .swiper-container {
    width: 100%;
    height: 300px;
}

.tabs-content .swiper-slide {
    padding: 1rem .1rem;
    padding-bottom: 0;


    &:not(.swiper-slide-active) {
        padding-left:1rem;
        overflow:hidden;
    }
}


.tabs-buttons {
    height: auto;
    overflow:clip;
    margin-left: -4px;
    border-bottom: 1px solid lightgray;
    font-size: .785rem;
}

.tabs-buttons .swiper-wrapper {
    display: flex;
    justify-content: space-between;
}

.tabs-buttons .swiper-slide {
    width: auto;
    height: auto;
    cursor: pointer;
    padding: .1rem .6rem;
}

.tabs-buttons .active-tab {
    opacity: 1;
    background-color: #708090;
    color: white;
}

.category{
    padding-bottom: .4rem;
}

.navigation-subcategories {
    position: relative;


    .nav-sub-content {


        nav {
            border-radius: 20px;
        }

        .sub-slide {
            margin: 0 .8em;
            padding: .3em .4em;
            background-color: white;
            -webkit-box-shadow: 0 0 2px #ccc;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            display: flex;
            justify-content: center;

            ul {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                transition-property: transform;
                margin: 0;
                padding: 0.075em .6em;


                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    padding: 2px 12px;
                    z-index: 1;
                }
            }

            .sub-nav-link {
                padding: .1em 1em;
                text-decoration: none;
                color: black;
                opacity: 70%;
                font-size: 0.835rem;
                font-weight: 500;
                border-radius: 20px;

                &.active {
                    color: white;
                    background-color: #708090;
                }
            }
        }



        .sub-slide {


            &:not(.slide-active) {
                display: none;
            }
        }

   
    }

 
}


