@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
    Layout = "";
    var coverPhotoUrl = Model?.Value<IPublishedContent>("coverPhoto")?.MediaUrl() ?? "";
    var profilePhotoUrl = Model?.Value<IPublishedContent>("profilePhoto")?.MediaUrl() ?? "";
    var infoTriggerColor = Model?.Value<string>("infoTriggerColor");

    var about = Umbraco.GetDictionaryValue("About");

    var triggerColor = "Lightgray";

    if(infoTriggerColor != null && infoTriggerColor != "")
    {
        if (infoTriggerColor == "Light")
        {
            triggerColor = "Lightgray";
        }
        else
        {
            triggerColor = "Black";

        }
    }

}

<section class="top-cover">
    <div class="cover-container">
        <div class="cover-image-container">
            @if (!string.IsNullOrEmpty(coverPhotoUrl))
            {
                <img class="cover-image" src="@coverPhotoUrl">
            }

            <div class="info-container" id="brand-info-trigger">
                <i class="fa fa-info-circle"></i><span class="text">@about</span>
            </div>

            <div class="dropdown" tab-index="0">
                <button id="dropdown-btn"></button>
                <ul class="dropdown-content" id="dropdown-content"></ul>
            </div>
        </div>

        <style>
/*             .info-container{
                color: @triggerColor;
            } */
        </style>

        @if (!string.IsNullOrEmpty(profilePhotoUrl))
        {
            <div class="brand-image-container">
                <img class="brand-image" src="@profilePhotoUrl">
            </div>

            <input type="hidden" value="@profilePhotoUrl"  id="brand-image-url"/>
        }
    </div>
</section>

