@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

@{
    Layout = "";
    var socialMedia = Model?.Value<IEnumerable<SocialLink>>("socialNetworks");
    var brandName = Model?.Value<string>("brandName") ?? "";
    var promoText = Model?.Value<string>("promotionalText") ?? "";
    var hideShareButton = Model?.Value<bool>("hideSocialShare") ?? false;
}


<div class="brand-info-container">
    <div class="social-container">
        @if (socialMedia?.Any() ?? false)
        {
            foreach (var social in socialMedia)
            {
                var name = social?.Name?.ToLower() ?? "";
                var socialLink = social?.Url ?? "#";

                if (socialLink != null)
                {
                    var imageSrc = "";
                    var ariaLabel = "";

                    if (name == "facebook")
                    {
                        imageSrc = "/images/_3dtheme/light/social/facebook_social.png";
                        ariaLabel = "Facebook";
                    }
                    else if (name == "instagram")
                    {
                        imageSrc = "/images/_3dtheme/light/social/instagram_social.png";
                        ariaLabel = "Instagram";

                    }
                    else if (name == "tiktok")
                    {
                        imageSrc = "/images/_3dtheme/light/social/tiktok_social.png";
                        ariaLabel = "TikTok";

                    }
                    else if (name == "tripadvisor")
                    {
                        imageSrc = "/images/_3dtheme/light/social/trip_social.png";
                        ariaLabel = "Trip Advisor";

                    }



                    <a href="@socialLink" target="_blank"><img arial-label="Follow company on @ariaLabel" class="social-icon" src="@imageSrc"></a>

                }

            }
        }
@*         @if (!hideShareButton)
        {
            <!-- AddToAny BEGIN -->
            <a class="a2a_dd" href="https://www.addtoany.com/share">
                <img class="social-icon" src="/images/_3dtheme/light/social/share_social.png" />
            </a>
            <script>
                var a2a_config = a2a_config || {};
                a2a_config.onclick = 1;
            </script>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
        } *@

    </div>
    <span class="brand-name">
        @brandName
    </span>
    <span class="promo-text">
        @Html.Raw(promoText)
    </span>


    <!-- BRAND NAME AND PROMO TEXT -->



</div>

