@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layouts/tonny";
}

<div class="main__page__content">
	<div class="intro">
		<h1 id="logoIntro">TONNY</h1>
	</div>

	<div class="small">
        <nav>
            <div class="logo-container">
                <span class="logo">TONNY</span>

            </div>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">

                <li><a href="#">Συνεργάτες</a></li>
                <li><a href="#">Σχετικά</a></li>
                <li><a href="#">Υπηρεσίες</a></li>
                <li><a class="join-button btn btn-4 hover-border-6" href="#">ΓΙΝΕ ΣΥΝΕΡΓΑΤΗΣ</a></li>

            </ul>
        </nav>		
        
        <section class="parterns">

		</section>
	</div>
</div>

