@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = null;

    var privacyTerms = Umbraco.ContentAtRoot().
           Where(x => x.IsDocumentType("privacyTerms")).FirstOrDefault();



}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    
@*     <meta name="title" content="Tonny.gr - Digital Menu Solutions">
    <meta name="image" content="Your image URL">
    <meta name="description" content="Your page description">
    <meta name="author" content="Your name">
    <meta name="date" content="Your publication date"> *@
   
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <partial name="Includes/_DigitalMenu" />

</head>
<body>

    @RenderBody()

    <footer id="footer" >
        <div class="footer-content">

            <span class="copyright">
                © Tonny 2024. All rights reserved.
            </span>

            <div class="links__container">
                <span class="terms">
                    <a href="@privacyTerms.Url()" target="_blank">@(Umbraco.GetDictionaryValue("TermsAndPrivacyLinkText") ?? "")</a>
                </span>
            </div>

        </div>
    </footer>


    <partial name="Scripts/_DigitalMenu" />
    @await RenderSectionAsync("BeforeBodyClose", required: false)
</body>
</html>

