@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="Includes/_DigitalMenu" />

</head>
<body>

    @RenderBody()

    <footer>
@*         <div class="container" style="min-height:100px; padding-top: 60px;">
            &copy; 2023 - DigitalMenu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>

    <partial name="Scripts/_DigitalMenu" />
    @await RenderSectionAsync("BeforeBodyClose", required: false)
</body>
</html>

