@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = null;
    var privacyTerms = Umbraco.ContentAtRoot().
       Where(x => x.IsDocumentType("privacyTerms")).FirstOrDefault();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <partial name="Includes/_tonny" />

</head>
<body>

    
    @RenderBody()

    <footer id="footer" style="display:none">
        <div class="footer-content">

            <span class="copyright">
                © Tonny 2024. All rights reserved.
            </span>

            <div class="links__container">
                <span class="terms">
                    <a href="@privacyTerms.Url()" target="_blank">Όροι χρήσης & Πολιτική απορρήτου</a>
                </span>
            </div>

        </div>
    </footer>

    <partial name="Scripts/_tonny" />
    @await RenderSectionAsync("BeforeBodyClose", required: false)
</body>
</html>

